@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
GradeCalcz does not retain any information you input. Any student names, 
points on tests, and grade percentages are not stored.
</p>
